{:deps {:aliases [:cljs]}
 :builds {:main {:target :browser
                 ;; shadow-cljs is configured to put the compiled js inside
                 ;; the resources directory so that the backend app can serve
                 ;; it both when launched via `clj` and when inside a jar.
                 :output-dir "resources/public/js"
                 :modules {:main {:init-fn scramble.ui.core/render}}
                 :devtools {:after-load scramble.ui.core/render}}}}
